body {
    font-family: 'PT Sans', sans-serif;
    color: black;
}
#aboutMeHeader {
    color: blue;
}
#footerIcons a {
    margin-left: 5px;
    padding-right: 20px;
    font-size: 30px;
}
#resume{
    margin-top: 7px;
}
#headshot{
    margin-left: 25%;
}
#abouttext{
    text-align: justify;
}
#contactBox{
    padding-left: 20%;
    padding-right: 20%;
}
#subject{
    height: 250px;
}