body {
    font-family: 'PT Sans', sans-serif;
    color: black;
}
#header {
    color: blue;
}
#footerIcons a {
    margin-left: 5px;
    padding-right: 20px;
    font-size: 30px;
}
#headshot{
    margin-left: 25%;
}
#abouttext{
    text-align: justify;
}
#subject{
    height: 250px;
}
#resume a {
    padding-top: 7px;
    height: 60px;
    text-decoration: none;
}
nav a {
    height: 60px;
}