body {
    font-family: 'PT Sans', sans-serif;
    color: black;
}
#Header {
    color: blue;
}
#footerIcons a {
    margin-left: 5px;
    padding-right: 20px;
    font-size: 30px;
}
/* #resume{
    margin-top: 7px;
} */
#headshot{
    margin-left: 25%;
}
#abouttext{
    text-align: justify;
}
/* #contactBox{
    padding-left: 5%;
    padding-right: 5%; */
/* } */
#subject{
    height: 250px;
}
#resume a {
    padding-top: 7px;
    height: 60px;
    text-decoration: none;
}
nav a {
    height: 60px;
}